body {
    font: normal 11px Verdana;
}
p {
    font: bold 14px Verdana;
    margin-bottom: 20px 0;
}
.evt-txt {
    color: #4b6ea8;
    font-weight: bold;
}
.day-event-container {
    position: relative;
    float: left;
    height: 720px;
    width: 620px;
    background-color: #ececec;
}
.day-event {
    border: 1px solid #d5d5d5;
    position: absolute;
    background-color: white;
    border-left: 4px solid #4b6ea8;
    -webkit-box-sizing: border-box; /* Safari, Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox */
    box-sizing: border-box; /* Opera, IE 8+ */
    padding: 5px;
}
ol {
    float: left;
    list-style: none;
    text-align: right;
    padding: 0;
    margin: -8px 5px 0 0;
    color: #666;
}
li {
    height: 30px;
}
span.hour {
    font-weight: bold;
}
